@model DvdLibrary.Models.Borrower

@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>RegisterSuccess</h2>

@Html.ActionLink("Go to DVD List", "List", "Home", new { id = Model.BorrowerId }, new { @class = "btn btn-default" })